<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <div class="container mt-4">

        <!-- Section: Design Block -->
        <section class="background-radial-gradient overflow-hidden">

            <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
                <div class="row gx-lg-5 align-items-center mb-5">
                    <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                            Welcome to <br />
                            <span style="color: hsl(218, 81%, 75%)">Q&A</span>
                        </h1>
                        <p class="mb-4 opacity-70 ph" style="color: hsl(218, 81%, 85%)">
                            We want to connect people who have knowledge to people who need it, to bring together people
                            with different perfective s so they can understand each other better, and empower everyone
                            to share their knowledge.
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                        <div id="radius-shape-3" class="position-absolute rounded-circle shadow-5-strong"></div>
                        <div id="radius-shape-4" class="position-absolute shadow-5-strong"></div>
                        <div id="radius-shape-5" class="position-absolute shadow-5-strong"></div>

                        <div class="card bg-glass">
                            <div class="card-body px-4 py-5 px-md-5">
                                <form>
                                    <!-- 2 column grid layout with text inputs for the first and last names -->
                                    <div class="row">

                                        <!--<% if (messages.error) { %>
                    <div class="alert alert-danger">
                      <strong><%= messages.error %> </strong>
                    </div>
                  <% } %> -->
                                        <h1 class="mb-3 h3">Register</h1>
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <input type="email" name="email" id="form3Example2"
                                                    class="form-control email" />
                                                <label class="form-label" for="form3Example2">Email Address</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <input type="text" name="username" id="form3Example3" class="form-control uname" />
                                        <label class="form-label" for="form3Example3">Username</label>
                                    </div>

                                    <!-- Password input -->
                                    <div class="form-outline mb-4">
                                        <input type="password" name="password" id="form3Example4"
                                            class="form-control pass" />
                                        <label class="form-label" for="form3Example4">Password</label>
                                    </div>

                                    <!-- Confirm Password input -->
                                    <div class="form-outline mb-4">
                                        <input type="password" name="conpassword" id="form3Example4"
                                            class="form-control conpass" />
                                        <label class="form-label" for="form3Example4">Confirm Password</label>
                                    </div>


                                    <!-- Submit button -->
                                    <button type="button" class="btn btn-primary btn-block mb-4 signUp">
                                        Sign up
                                    </button>

                                    <!-- Register buttons -->
                                    <div class="text-center">
                                        <p class="para">Already have an account? <a routerLinkActive="active"
                                                [routerLink]="'/login'">Login</a></p>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->
    </div>
</body>

</html>