<div class="outer">
    <div class="middle" id="div1">
        <div class="inner">
        </div>
    </div>
    <div class="middle" id="div2">
        <div class="inner">
            <p class="divpara">We want to connect people who have knowledge to people who need it, to bring together
                people with different perfective s so they can understand each other better, and empower everyone to
                share their knowledge </p>
        </div>
    </div>
    <!--<div class="middle" id="div3"><div class="inner"></div></div>
          <div class="middle" id="div4"><div class="inner"></div></div>-->

</div>

<div class="card cd-div mx-auto">
    <div class="card-body">
        <p class="card-text">MAKE SOLUTIONS</p>
        <p class="card-text">FOR YOUR</p>
        <p class="card-text">QUESTIONS</p>
        <p class="card-text">&</p>
        <p class="card-text">ANSWERS FOR OTHERS</p>
        <a class="btn btn-ex" routerLinkActive="active" [routerLink]="'questions'">Explore Questions</a>
    </div>
</div>

<h2 style="text-align: center; margin: 50px;">How to post a question and answer a posted question</h2>
<div class="divi"><iframe width="80%" height="600px" src="https://www.youtube.com/embed/p8BGdD2qERo"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe></div>
<footer>
    <div class="outer-2">
        <div class="middle-2" id="div_1"></div>
        <div class="middle-2" id="div_2">
            <p>
                <b><u>EXPLORE</u></b>
            </p>
            <p>
                <a class="anchor" href="#questions">Questions</a>
            </p>
            <p>
                <a class="anchor" href="#Gallery">About US</a>
            </p>
            <p>
                <a class="anchor" href="#Contact Us">Contact Us</a>
            </p>
        </div>
        <div class="middle-2" id="div_3">
            <p>
                <u><b>FOLLOW US ON</b></u>
            </p>
            <p>Social Media Channels</p>
            <p>
                <a href="#" class="fa fa-facebook fa-1"></a> <a href="#" class="fa fa-youtube fa-1"></a> <a href="#"
                    class="fa fa-instagram fa-1"></a>
                <a href="#" class="fa fa-twitter fa-1"></a>
            </p>
        </div>
        <div class="middle-2" id="div_4">
            <p>
                <u><b>Contact Us</b></u>
            </p>
            <p>Phone No: +94767899215</p>
            <p>Email: Q&A™@gmail.com</p>
        </div>
    </div>
</footer>