<div class="sidebar">
    <h2>Q&A</h2>
    <ul>
      <li><a routerLinkActive="active" [routerLink]="'QAHome'"><i class="fa fa-home fa-lg fa-fw"></i> Home</a></li>
      <li><a routerLinkActive="active" [routerLink]="'profile'"><i class="fa fa-user fa-lg fa-fw"></i> Profile</a></li>
      <li><a href="#"><i class="fa fa-book fa-lg fa-fw"></i> About</a></li>
      <li><a routerLinkActive="active" [routerLink]="'questions'"><i class="fa fa-question-circle fa-lg fa-fw"></i> Question</a></li>
      <li><a href="#"><i class="fa fa-address-book fa-lg fa-fw"></i> Contact</a></li>
    </ul>
    <div class="social_media">
      <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
      <a href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
      <a href="#"><i class="fa fa-instagram fa-lg fa-fw"></i></a>
    </div>
  </div>