<div class="info">
    <div class="card" style="border: none;">
        <div class="card-body">
            <div *ngFor="let question of questionList">
                <h6 class="card-title">{{question.username}} Asked: {{question.date}}</h6>
                <p>{{question.question}}</p>
                <button onclick="toggle(this)" class="btn btn-primary" style="margin: 10px;" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Answer</button>
            </div>
            <div class="card QA" *ngFor="let qa of qaList">
                <div class="card-body">
                    <div class="cardQA">
                        <p>{{qa.username}} {{qa.date}}</p>
                        <label>
                            {{qa.answers}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <form (submit)="addAnswer($event)">
                <div class="modal-header" *ngFor="let question of questionList" >
                    <!--<input type="text" name="questionTitle" id="questionTitle" class="questionTitle" value="{{question.question}}">-->
                    <textarea type="text" class="modal-title questionTitle" id="exampleModalLabel" value="{{question.question}}" readonly></textarea>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                    <div class="modal-body">
                        <textarea id="answer" class="answer" name="answer" style="font-size: 24px; border: none;outline: none; resize: none; height: 300px; width: 765px;"
                            placeholder="Write Your Answer"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--<div class="qr">
    <div class="qr1">
    <div class="qr1-a">Questions</div>
    <div class="qr1-a">10</div>
    </div>
    <div class="qr2">
    <div class="qr2-a">Answers</div>
    <div class="qr2-a">10</div>
    </div>
    </div>-->

</div>