<div class="info">
    <div class="card" style="border: none;">
        <div class="card-body">
            <h6 class="card-title">Sandeepa Bro Asked: 15/12/2022</h6>
            <p>How does programming work?</p>
                <button  onclick="toggle(this)"  class="btn btn-primary" style="margin: 10px;" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Answer</button>
            <div class="card QA">
                <div class="card-body">
                    <div class="cardQA">
                        <p>Sani Malle 03/12/2021</p>
                        <label>A programmer was asked an interview question - If you had to construct a
                            swimming
                            pool for Mark Zuckerberg and had no budget limit to your project, describe the
                            pool you
                            will make?

                            Now this guy didn't have a clue about how swimming pools are made or what are
                            the
                            requirements for one. But his answer was what you can expect out of a
                            programmer.

                            His answer -
                            Let's consider the components here - A pool, a fountain nearby, a changing room,
                            a bar,
                            a resting/sunbathing area, and some other stuff rich people have by their pools.
                            Since
                            here we are referring only the pool, I will only describe the pool. Also since
                            Mark
                            loves Star Wars, this would be a Star Wars themed pool.

                            Let's consider the pool to be rectangular with a standard size of 16ft by 32ft.
                            Now for lights, there will be one at every 4 ft along the perimeter. The colors
                            of the
                            lights will change if Mark decides to select Sith theme or a Jedi theme. On a
                            closer
                            look at the each of the light you will see a distinct star wars character on
                            each of
                            them, which will only be visible when you are close enough. The lights will also
                            .....
                            **gets interrupted by the interviewer**

                            Interviewer - Let's move on to another question.

                            Programmer - But I haven't finished my answer sir....... in fact, I had barely
                            started.

                            Interviewer(who was a wise man) - You don't need to, you're shortlisted for the
                            next
                            round.

                            Programming is about taking a problem (making the pool) and defining a solution
                            to
                            it(size of pool, lights, right down to each light) where every small detail is
                            elaborated cause you are trying to convey it to the dumbest thing on a planet(a
                            computer)
                        </label>
                    </div>
                </div>
            </div>

            <div class="card QA">
                <div class="card-body">
                    <div class="cardQA">
                        <p>Mr Unknown 11/11/2022</p>
                        <label>A programmer was asked an interview question - If you had to construct a
                            swimming
                            pool for Mark Zuckerberg and had no budget limit to your project, describe the
                            pool you
                            will make?

                            Now this guy didn't have a clue about how swimming pools are made or what are
                            the
                            requirements for one. But his answer was what you can expect out of a
                            programmer.

                            His answer -
                            Let's consider the components here - A pool, a fountain nearby, a changing room,
                            a bar,
                            a resting/sunbathing area, and some other stuff rich people have by their pools.
                            Since
                            here we are referring only the pool, I will only describe the pool. Also since
                            Mark
                            loves Star Wars, this would be a Star Wars themed pool.

                            Let's consider the pool to be rectangular with a standard size of 16ft by 32ft.
                            Now for lights, there will be one at every 4 ft along the perimeter. The colors
                            of the
                            lights will change if Mark decides to select Sith theme or a Jedi theme. On a
                            closer
                            look at the each of the light you will see a distinct star wars character on
                            each of
                            them, which will only be visible when you are close enough. The lights will also
                            .....
                            **gets interrupted by the interviewer**

                            Interviewer - Let's move on to another question.

                            Programmer - But I haven't finished my answer sir....... in fact, I had barely
                            started.

                            Interviewer(who was a wise man) - You don't need to, you're shortlisted for the
                            next
                            round.

                            Programming is about taking a problem (making the pool) and defining a solution
                            to
                            it(size of pool, lights, right down to each light) where every small detail is
                            elaborated cause you are trying to convey it to the dumbest thing on a planet(a
                            computer)
                        </label>
                    </div>
                </div>
            </div>

            <div class="card QA">
                <div class="card-body">
                    <div class="cardQA">
                        <p>Mr Unknown 11/10/2022</p>
                        <label>Almost all programming languages work the same way: You write code to tell it
                            what to do: print("Hello, world"). The code is compiled, which turns it into
                            machine code the computer can understand. The computer executes the code, and
                            writes Hello, world back to us.
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">How does programming work?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form (submit)="addQuestion($event)">
                    <div class="modal-body">
                        <textarea style="border: none;outline: none; resize: none; height: 300px; width: 765px;"
                            placeholder="Write Your Answer"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--<div class="qr">
    <div class="qr1">
    <div class="qr1-a">Questions</div>
    <div class="qr1-a">10</div>
    </div>
    <div class="qr2">
    <div class="qr2-a">Answers</div>
    <div class="qr2-a">10</div>
    </div>
    </div>-->

</div>