<div class="card mx-auto" *ngFor="let question of questionList">
    <div class="card-body">
      <h5 class="card-title">Update Your Question</h5>
      <div class="form-outline" style="margin: 20px;">
        <label style="font-size: 24px;" class="form-control" id="textAreaExample2" rows="2" readonly>{{question.question}}</label>
      </div>
      <form (submit)="updateQuestion($event)">
      <div class="form-outline" style="margin: 20px;">
        <textarea style="font-size: 24px;" name="question" id="question" class="form-control question" id="textAreaExample2" rows="2" placeholder="Enter your question to update"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>