<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <img class="img-logo" src="assets/images/logo.png" width="100px" height="40px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="QAHome">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLinkActive="active" [routerLink]="'questions'">Questions</a>
          </li>
        </ul>
        <form action="#" class="d-flex sbox" role="search">
          <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
          <button class="btn btn-primary" type="submit"><i class="fa fa-search fa-fw"></i></button>
        </form>
      </div>
      <div *ngIf="menuType==='default'">
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link text-white" [routerLink]="'/signup'">SignUp</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-white" href="login">Login</a>
          </li>
        </ul>
      </div>
      </div>

      <div *ngIf="menuType==='login'">
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" id="auser" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{username}}
            </a>
            <ul class="dropdown-menu" id="dpm-left">
              <li><a class="dropdown-item" [routerLink]="'profile'">Profile</a></li>
              <li><a class="dropdown-item" href="logout">LogOut</a></li>
            </ul>
          </li>
        </ul>

      </div>
      </div>
    </div>
  </nav>