<div class="container mt-4">

    <!-- Section: Design Block -->
    <section class="background-radial-gradient overflow-hidden">

        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
            <div class="row gx-lg-5 align-items-center mb-5">
                <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                        Welcome to <br />
                        <span style="color: hsl(218, 81%, 75%)">Q&A</span>
                    </h1>
                    <p class="mb-4 opacity-70 ph" style="color: hsl(218, 81%, 85%)">
                        We want to connect people who have knowledge to people who need it, to bring together people
                        with different perfective s so they can understand each other better, and empower everyone to
                        share their knowledge
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                    <div id="radius-shape-3" class="position-absolute rounded-circle shadow-5-strong"></div>
                    <div id="radius-shape-4" class="position-absolute shadow-5-strong"></div>
                    <div id="radius-shape-5" class="position-absolute shadow-5-strong"></div>

                    <div class="card bg-glass">
                        <div class="card-body px-4 py-5 px-md-5">
                            <form (submit)="loginUser($event)">
                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <div class="row">

                                    <!--<% if (messages.error) { %>
                    <div class="alert alert-danger">
                      <strong><%= messages.error %> </strong>
                    </div>
                  <% } %> -->



                                    <h1 class="mb-3 h3">Login</h1>

                                </div>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input type="text" name="username" id="form3Example3" class="form-control username" />
                                    <label class="form-label" for="form3Example3">Username</label>
                                    
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" name="password" id="form3Example4" class="form-control password" />
                                    <label class="form-label" for="form3Example4">Password</label>
                                    
                                </div>


                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4 signIn">
                                    Sign In
                                </button>

                                <!-- Register buttons -->
                                <div class="text-center">
                                    <p class="para">Don't have an account yet? <a routerLinkActive="active"
                                            [routerLink]="'/signup'">Register</a></p>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Design Block -->
</div>