<div class="outer">
    <div class="fleft">
    <div class="middle" *ngFor="let question of questionList">
        <a routerLinkActive="active" [routerLink]="['qa',question.question]" class="qlink">
        <div class="card wi">
            <div class="card-body">
                <h6 class="card-title">{{question.username}} Asked: {{question.date}}</h6>
                {{question.question}}
            </div>
        </div>
        </a>
        
    </div>
    </div>
    
    <div class="middle1">
        <div class="qr">
        <div class="imgdesc">
          
        </div>
        <p style="margin-top: 50px; margin-bottom: -150px; font-size: 26px; font-weight: bold; color: ivory;">Q&A <br>Feel free to ask a question</p>
        <div class="btn-ask">
          <button class="btn btn-primary" onclick="toggle(this)" data-bs-toggle="modal" data-bs-target="#exampleModal">Ask Questions</button>
        </div>
        <div class="row">
            <div class="col">
              <a [routerLink]="['userquestion']" class="qr1-a">Questions</a>
            </div>
            <div class="col">
              <a [routerLink]="['useranswer']" class="qr2-a">Answers</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    
       <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enter Your Question Here.</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form #values="ngForm" (ngSubmit)="addQuestion(values)">
                    <div class="modal-body">
                        <textarea style="border: none;outline: none; resize: none; height: 300px; width: 765px;" placeholder="Start Your Question with 'What', 'How', 'Why', etc." ngModel name="question"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!--<a href="questions/add" class="btn btn-primary">Post</a>-->
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>